@media screen and (max-width:995px) {
    .tittle{
        width:50%
    }

    /* .i-img{
        width: 50%;
    } */
    .tittle-image{
        width: 15%;
        transform: rotate(0);
        position: absolute;
        top: 7.5%;
        right: 22%;
        
    }
    #features{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:350px) {
    .tittle{
        width:50%
    }
    .tittle-image{
        width: 15%;
        transform: rotate(0deg);
        position: absolute;
        top: 40%;
        right: 22%;
        
    }


}